.header {
    background-color: #5ab2c870;
    text-align: center;
}

.mobileBottomFix {
    margin-bottom: 0;
    padding-bottom: 1rem;
}

.header__page-title {
    background-color: #5ab2c870;
    color: #F75590;
    font-size: 2rem;
    padding: 16px;
    margin: 0;
}

.heading2 {
    color: #F75590;
    font-size: 1.2rem;
}

.return {
    background-color: #5ab2c870;
    padding: 10px;
    margin: 10px;
    font-size: 1rem;
    color: #6D8EA0;
    font-weight: 900;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition: 0.3s;
}

.return:hover {
    background-color: #2D2A32;
    color: #F75590;
}

h4 {
    color: #2D2A32;
    font-size: 1rem;
    font-style: italic;
    text-align: center;
}

h2 {
    color: #F75590;
    font-size: 1rem;
    font-style: italic;
    text-align: center;
}

.bg-image {
    background-image: url(../images/youth25.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: auto;
    background-color: rgba(255, 255, 255, 0.6);
}

.grid-container {
    position: relative;
    display: grid;
    grid-template-areas:
    "map image text";
    gap: 10px;
    padding: 10px;
}

.grid-container__item.map-article {
    grid-area: map;
    background-color: #5ab2c870;
    max-height: fit-content;
}

.grid-container__item.text-article {
    padding: 10px;
    grid-area: text;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    height: fit-content;
}

.grid-container__item.text-article p {
    font-size: 1rem;
    color: #2D2A32;
    font-style: italic;
    text-align: center;
}
      
.map-location-header {
    background-color: green;
    color: #F75590;
    font-size: 1.2rem;
    margin: 0;
    padding: 16px;
}

@media screen and (max-width:768px) {
    .mobileBottomFix {
        margin-bottom: 0;
        padding-bottom: 1rem;
}

    .grid-container {
        position: relative;
        display:block;
        grid-template-areas:
        "map image text";
        gap: 10px;
        padding: 10px;
}

    .grid-container__item.map-article {
        grid-area: map;
        background-color: #5ab2c870;
        max-height: fit-content;
}

    .grid-container__item.text-article p {
        padding: 10px;
        grid-area: text;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(5px);
}

    .grid-container__item.text-article p {
        font-size: 1rem;
        color: #2D2A32;
        font-style: italic;
        text-align: center;
}

    .map-location-header {
        background-color: rgba(255, 255, 255, 0.4);
        text-align: center;
}

    #img1, #img2 {
    display: none;
}
}

